In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import ipywidgets as widgets
import csv

In [60]:
df_meteo = pd.read_csv("C:/Users/namor/Dropbox/Simplon/Programmation/Projet Fil rouge/Data/2016/Météo.csv", sep='\s*,\s*')
df_meteo = df_meteo.groupby(['Country', 'Year'], as_index=False).mean()

df_pluie = pd.read_csv("C:/Users/namor/Dropbox/Simplon/Programmation/Projet Fil rouge/Data/2016/Pluie.csv", sep='\s*,\s*')
df_pluie = df_pluie.groupby(['Country', 'Year'], as_index=False).mean()
df_meteo.insert(loc=3, column='Rainfall - (MM)', value=df_pluie['Rainfall - (MM)'])
df_meteo.insert(loc=0, column='Area_1', value=df_meteo['Country'])
df_meteo = df_meteo.set_index('Area_1')

df_pays = pd.read_csv("C:/Users/namor/Dropbox/Simplon/Programmation/Projet Fil rouge/Version 2/CSV/Pays.csv")
df_pays.insert(loc=0, column='Area_1', value=df_pays['Area'])
df_pays = df_pays.set_index('Area_1')

df_meteo = pd.merge(df_meteo, df_pays['Area Code'], how='left', left_index=True, right_index=True)
df_meteo[['Area Code']] = df_meteo[['Area Code']].astype(np.int64)
df_meteo = df_meteo.rename(columns = {'Country': 'Area', 'Temperature - (Celsius)': 'Temperature C', "Rainfall - (MM)": "Rainfall MM"})
df_meteo[["Temperature C", "Rainfall MM"]] = df_meteo[["Temperature C", "Rainfall MM"]].round().astype(np.int64)
df_meteo = df_meteo.reset_index(drop=True)
df_meteo = df_meteo[["Area Code", "Year", "Temperature C", "Rainfall MM"]]

# Enregistrer le DataFrame dans un fichier csv
df_meteo.to_csv('CSV/Météo.csv', index=False, sep=',', encoding='utf-8-sig')
df_meteo

<ipython-input-60-ad5d6b715f38>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_meteo = pd.read_csv("C:/Users/namor/Dropbox/Simplon/Programmation/Projet Fil rouge/Data/2016/Météo.csv", sep='\s*,\s*')
<ipython-input-60-ad5d6b715f38>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_pluie = pd.read_csv("C:/Users/namor/Dropbox/Simplon/Programmation/Projet Fil rouge/Data/2016/Pluie.csv", sep='\s*,\s*')

      Area Code  Year  Temperature C  Rainfall MM
0             2  1991             13           36
1             2  1992             13           34
2             2  1993             13           26
3             2  1994             13           29
4             2  1995             13           25
...         ...   ...            ...          ...
5091        181  2012             22           45
5092        181  2013             22           51
5093        181  2014             22           51
5094        181  2015             22           33
5095        181  2016             22           38

[5096 rows x 4 columns]

In [6]:
df_meteo.isna().sum()

Area Code        0
Year             0
Temperature C    0
Rainfall MM      0
dtype: int64